<div class="row">
  <div class="col-md-4">
    <img src='http://multimedia.fnac.com/multimedia/Images/ES/NR/65/51/13/1266021/1504-1.jpg' />
  </div>
  <div class="col-md-6">
    <h3><%= @book.name %></h3>
    <h4><%= @book.author %></h4>
    <p><%= @book.description %></p>
    <h4 class="text-right"><%= @book.price.to_f/100 %> €</h4>  
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Back', books_path %>
  </div>
</div>
